@import url("https://fonts.googleapis.com/css?family=Gothic+A1:400,500,600,700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
   --primary-font: 'Gothic A1', sans-serif;
   --text-size: 1rem;
}
body {
   font-family: var(--primary-font);
   padding: 0;
   margin: 0;
   padding-top: var(--navbar-height, 0px);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   box-sizing: border-box;
   #app {
      flex: 1;
   }
}
