$primarColor: #28156d;
$themeColor: #e67816;
$theme-colors: (
  "primary": $primarColor,
  "danger": $themeColor
);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/slick-carousel/slick/slick.css";
// @import "../../node_modules/slick-carousel/slick/ajax-loader.gif";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

@import "../../node_modules/sweetalert2/src/sweetalert2.scss";

:root {
   --primary-font: 'Open Sans', sans-serif;
   --text-size: 1rem;
   --primary-color: var(--primary);
   --theme-color: var(--danger);
}
body {
   font-family: var(--primary-font);
   padding: 0;
   margin: 0;
   padding-top: var(--navbar-height, 0px);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   box-sizing: border-box;
   #app {
      flex: 1;
   }
}
.embed-responsive {
   height: initial;
}
@media screen and (max-width: 670px)
{
   .swal2-popup.swal2-toast {
      width: 95vw !important;
   }
}
